/* Google font cdn linking here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Google font cdn linking here */

/* Global css here */

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* header section code start here */
.header-section{
    background-color: #264653;
}
.navbar-toggler-icon{
    color: #fff !important;
}
.navbar-light .navbar-toggler-icon{
    background-color: #fff;
}
.navbar-light .navbar-nav .nav-link.honda-text, .navbar-light .navbar-nav .show>.honda-text{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: .5s;
}
.navbar-light .navbar-nav .nav-link.honda-text:hover, .navbar-light .navbar-nav .show>.honda-text:hover{
    color: #E76F51;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.btn-check:focus+.btn-success, .btn-success:focus{
    color: #E76F51;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    border: 2px solid#E76F51;
    color: #E76F51;
    outline: none;
    box-shadow: none;
}
.honda-btn{
    background: #E76F51;
    border-radius: 5px;
    text-transform: uppercase;
    border: #E76F51;
    padding: 8px 22px 8px 22px;
    border: 2px solid#E76F51;
    color: #fff;
    transition: .5s;
}
.honda-btn:hover{
    background-color: transparent;
    border: 2px solid#E76F51;
    color: #E76F51;
}

/* header section code end here */

/* banner section code start here */
.banner-section{
    width: 100%;
    padding: 70px 0px 95px;
}
.honda-title{
    color: #E0E0E0;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}
.honda-banner-heading{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}
.honda-paragrap{
    width: 75%;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #E0E0E0;
}
/* banner section code start here */

/* fetured-section code start here */
.fetured-section{
    width: 100%;
    padding: 80px 0px;
}
.fetured-section .inner-fetured-text{
    width: 100%;
    text-align: center;
}
.fetured-section .inner-fetured-text h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.fetured-section .inner-fetured-text h4{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #E76F51;
}
.inner-fetured-img{
    width: 100%;
    margin-top: 120px;
    text-align: center;
}
.inner-fetured-img .grayscale{
    filter: grayscale(100%);
}
/* fetured-section code end here */

/* letest-news section code start */
.letest-section{
    width: 100%;
    padding: 80px 0px;
}
.letest-text{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.honda-shadow{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
/* letest-news section code end */

/* satisfaction-section code start */
.satisfaction-section{
    width: 100%;
    padding: 0px 0px 80px;
}
.honda-font-org-color{
    color: #E76F51;
}
.inner-satisfaction-text{
    width: 100%;
    text-align: center;
}
.inner-satisfaction-text h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.honda-img{
    width: 150px;
    height: 150px;
}
.honda-card-border{
    border: 1px solid #E5E5E5;
}
.honda-card-text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #6C6C6C;
}
.honda-star .fa{
    color: #E77C40;;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin: 0px 5px 0px 0px;
}
.honda-heading{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #23A6F0;
}
.honda-post{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}
/* satisfaction-section code end */

/* Frequently Asked Questions section code start */
.faq-section{
    width: 100%;
    padding: 80px 0px;
}
.faq-section h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}
.accordion-item .accordion-button{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #383838;
    border: 1px solid #D5E5FB;
}
.accordion-item .accordion-body{
    font-size: 16px;
    line-height: 28px;
    color: #7E848C;
}
.accordion-button:not(.collapsed) {
    color: #383838;
    background-color: #fff;
    box-shadow: none;
}
/* Frequently Asked Questions section code end */

/* blog-section code start here */
.blog-section{
    width: 100%;
    padding: 40px 0px 120px;
}
.block-heading{
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #383838;
}
.blog-imgs{
    opacity: 1;
    transition: .5s;
}
.blog-imgs:hover{
    opacity: .5;
    cursor: pointer;
}
.blog-section h4{
    color: #383838; 
}
.empty{
    width: 3px;
    height: 100px;
    background-color: #264653;
    margin: 0px auto;
}
.blog-box-shadow{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
/* blog-section code end here */

/* contactus-section code start here */
.contactus-section{
    width: 100%;
    padding: 120px 0px;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.contactus-section h2{
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
    color: #fff;
}
.honda-contact{
    background-color: #E76F51;
}
/* contactus-section code end here */

/* footer section code start here */
.footer-section{
    width: 100%;
    padding: 80px 0px 40px;
    background-color: #000;
}
.footer-section a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    transition: .5s;
}
.footer-section p{
    margin-top: 12px;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
}
.footer-section a:hover{
    color: #E76F51;
}
.footer-section .queto{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    word-spacing: 1.2px;
    letter-spacing: 1.5px;
}
/* footer section code end here */
